h1 {
  font-size: 64px;
}


.burger {
  position: absolute;
  top: 50px;
}

.one {
  right: 0;
}

.two {
  right: 115px;
}

.three {
  right: 240px;
}

.four {
  right: 363px;
}

.five {
  right: 487px;
}

.six {
  right: 613px;
}

li {
  padding: 5px;
  margin: 5px;
}

.notEaten {
  background: #fdf498
}

.eaten {
  background: #f37736;
}

.label {
  font-weight: bold;
}

.create-form {
  padding: 5px;
  margin: 5px;
  background: #0392cf;
  margin-left: 44px;
}

.form-group {
  margin-bottom: 5px;
}
